.mobile {
  --labeur-width: 100vw;
  --infos-height: 20px;
  --infos-line-height: 22px;
  --regular-height: 16px;
  --regular-line-height: 18px;
  --title-height: 40px;
  --title-line-height: 50px;
  --summary-height: 20px;
  --summary-line-height: 26px;
}
.mobile :active, .mobile :focus {
  outline: none;
}
.mobile > header {
  height: 70px;
}
.mobile #menu-main_nav {
  flex-direction: column;
  justify-content: start;
  position: fixed;
  top: 70px;
  left: 0;
  height: calc( 100% - 70px );
  width: 100%;
  background: #7EB4B4;
  padding: 0;
  text-align: center;
  z-index: 99999;
}
.mobile #menu-main_nav li {
  padding: 1.2rem;
  font-size: 36px;
  border-bottom: 2px solid #000;
  background-color: #F8F8F8;
}
.mobile header svg {
  left: 1rem;
}
.mobile header details {
  position: absolute;
  right: 1rem;
}
.mobile header details summary {
  position: relative;
  height: 36px;
  width: 40px;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
}
.mobile header details summary::-webkit-details-marker {
  display: none;
}
.mobile header details summary::before, .mobile header details summary::after, .mobile header details summary span {
  height: 2px;
  width: 100%;
  background: #000;
  opacity: 1;
  transition: all 0.6s;
}
.mobile header details summary::before, .mobile header details summary::after {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
}
.mobile header details[open] summary::before, .mobile header details[open] summary::after {
  width: 130%;
}
.mobile header details[open] summary::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.mobile header details[open] summary::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.mobile header details[open] summary span {
  opacity: 0;
}
.mobile article, .mobile h6 {
  padding-left: 1.4rem;
}
.mobile h6 {
  font-size: 12px;
  padding-bottom: 0.6rem;
}
.mobile article {
  padding: 0 1.4rem;
}
.mobile article h4 {
  font-size: 18px;
  margin: 0.6rem 0;
}
.mobile #content {
  background: #7EB4B4;
  box-sizing: border-box;
  height: calc( 100vh - 70px );
  padding-bottom: 60px;
  overflow: hidden;
  overflow-y: scroll;
}
.mobile #aside, .mobile #main {
  position: initial;
  top: initial;
  height: auto;
  width: 100%;
}
@media only screen and (orientation: landscape) {
  .mobile #aside, .mobile #main {
    min-height: calc( 100vh - 70px - 60px);
  }
}
.mobile #aside {
  order: -1;
  height: calc(35vh + 60px);
}
.mobile #main {
  background-color: #F8F8F8;
  overflow-x: hidden;
  height: auto;
}
.mobile:not(.tablet) .main__heading {
  display: inline-block;
}
.mobile:not(.tablet) .main__category {
  display: none;
}
.mobile .main__heading {
  order: -1;
  align-self: flex-start;
  top: 0;
  position: sticky;
  height: auto;
  padding: 0.6rem 1.4rem;
  z-index: 99998;
  border-bottom: 2px solid #000;
}
@media screen and (orientation: landscape) {
  .mobile .main__heading {
    width: var(--width);
  }
}
.mobile .main__title {
  display: initial;
  font-size: 50px;
  line-height: 44px;
}
.mobile .compagnie {
  overflow: hidden !important;
}
.mobile .compagnie__main {
  height: calc( 100vh - 70px ) !important;
}
.mobile .compagnie__main .wp-block-group:nth-child(1) {
  padding: 1rem 1.4rem;
}
.mobile .compagnie__main .wp-block-group:not(:nth-child(1)) .wp-block-group__inner-container > h2 + .wp-block-columns {
  grid-gap: 4rem 1rem;
  grid-template-columns: repeat(2, 1fr);
}
.mobile .compagnie__main .wp-block-group:not(:nth-child(1)) .wp-block-group__inner-container > h2 + .wp-block-columns *:not(:first-child) {
  grid-column: span 2;
}
.mobile .compagnie__main .wp-block-group:not(:nth-child(1)) .wp-block-group__inner-container p + div, .mobile .compagnie__main .wp-block-group:not(:nth-child(1)) .wp-block-group__inner-container > h2 + .wp-block-columns {
  margin: 5rem 0 5rem 2rem;
}
.mobile .home__aside .splide__slide img, .mobile .home__videos .splide__slide img, .mobile .creation__aside .splide__slide img, .mobile .creation__videos .splide__slide img, .mobile .transmission__aside .splide__slide img, .mobile .transmission__videos .splide__slide img {
  height: 35vh;
}
.mobile .home__videos, .mobile .creation__videos, .mobile .transmission__videos {
  width: 100vw;
  height: calc(100vh - var( --top ) );
}
.mobile .home__videos:not(.hidden), .mobile .creation__videos:not(.hidden), .mobile .transmission__videos:not(.hidden) {
  top: var(--top);
}
.mobile .home #main > p {
  font-size: 36px;
  line-height: 36px;
  padding: 1.4rem;
}
.mobile .creation__main, .mobile .transmission__main {
  display: flex;
  flex-direction: column;
}
.mobile .creation__main .wp-block-group > *, .mobile .transmission__main .wp-block-group > * {
  margin-top: 0;
}
.mobile .creation__main .wp-block-group:nth-child(1), .mobile .transmission__main .wp-block-group:nth-child(1) {
  order: 0;
  padding-bottom: 46px;
  border-bottom: none !important;
}
.mobile .creation__main .wp-block-group:nth-child(1) ul li, .mobile .transmission__main .wp-block-group:nth-child(1) ul li {
  font-size: var(--regular-height);
  line-height: var(--regular-line-height);
  font-weight: lighter;
}
.mobile .creation__main .wp-block-group:nth-child(1) ul:first-child li, .mobile .transmission__main .wp-block-group:nth-child(1) ul:first-child li {
  text-transform: uppercase;
  font-weight: bolder;
}
.mobile .creation__main .wp-block-group:nth-child(1) ul:first-child li, .mobile .creation__main .wp-block-group:nth-child(1) ul:first-child + p, .mobile .transmission__main .wp-block-group:nth-child(1) ul:first-child li, .mobile .transmission__main .wp-block-group:nth-child(1) ul:first-child + p {
  font-size: var(--infos-height);
  line-height: var(--infos-line-height);
}
.mobile .creation__main .wp-block-group:nth-child(1) ul:first-child, .mobile .creation__main .wp-block-group:nth-child(1) ul:first-child + p, .mobile .transmission__main .wp-block-group:nth-child(1) ul:first-child, .mobile .transmission__main .wp-block-group:nth-child(1) ul:first-child + p {
  margin: 0;
}
.mobile .creation__main .wp-block-group:nth-child(1) ul:not(:first-child), .mobile .transmission__main .wp-block-group:nth-child(1) ul:not(:first-child) {
  margin: 2rem 0;
}
.mobile .creation__main .wp-block-group:nth-child(2), .mobile .transmission__main .wp-block-group:nth-child(2) {
  order: 2;
}
.mobile .creation__main .wp-block-group:nth-child(2) .wp-block-columns, .mobile .transmission__main .wp-block-group:nth-child(2) .wp-block-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
.mobile .creation__main .wp-block-group:nth-child(2) .wp-block-column, .mobile .transmission__main .wp-block-group:nth-child(2) .wp-block-column {
  font-size: var(--regular-height);
  line-height: var(--regular-line-height);
  margin: 0;
}
.mobile .creation__main .wp-block-group:nth-child(2) .wp-block-column:last-child, .mobile .transmission__main .wp-block-group:nth-child(2) .wp-block-column:last-child {
  grid-column: span 2;
}
.mobile .creation__main .wp-block-group:nth-child(2) .wp-block-column h1, .mobile .creation__main .wp-block-group:nth-child(2) .wp-block-column h2, .mobile .creation__main .wp-block-group:nth-child(2) .wp-block-column h3, .mobile .creation__main .wp-block-group:nth-child(2) .wp-block-column h4, .mobile .creation__main .wp-block-group:nth-child(2) .wp-block-column h5, .mobile .creation__main .wp-block-group:nth-child(2) .wp-block-column h6, .mobile .transmission__main .wp-block-group:nth-child(2) .wp-block-column h1, .mobile .transmission__main .wp-block-group:nth-child(2) .wp-block-column h2, .mobile .transmission__main .wp-block-group:nth-child(2) .wp-block-column h3, .mobile .transmission__main .wp-block-group:nth-child(2) .wp-block-column h4, .mobile .transmission__main .wp-block-group:nth-child(2) .wp-block-column h5, .mobile .transmission__main .wp-block-group:nth-child(2) .wp-block-column h6 {
  font-size: var(--regular-height);
  line-height: var(--regular-line-height);
  text-transform: uppercase;
  font-weight: bolder;
}
.mobile .creation__main .wp-block-group:nth-child(2) .wp-block-column h1, .mobile .creation__main .wp-block-group:nth-child(2) .wp-block-column h1 + ul, .mobile .creation__main .wp-block-group:nth-child(2) .wp-block-column h2, .mobile .creation__main .wp-block-group:nth-child(2) .wp-block-column h2 + ul, .mobile .creation__main .wp-block-group:nth-child(2) .wp-block-column h3, .mobile .creation__main .wp-block-group:nth-child(2) .wp-block-column h3 + ul, .mobile .creation__main .wp-block-group:nth-child(2) .wp-block-column h4, .mobile .creation__main .wp-block-group:nth-child(2) .wp-block-column h4 + ul, .mobile .creation__main .wp-block-group:nth-child(2) .wp-block-column h5, .mobile .creation__main .wp-block-group:nth-child(2) .wp-block-column h5 + ul, .mobile .creation__main .wp-block-group:nth-child(2) .wp-block-column h6, .mobile .creation__main .wp-block-group:nth-child(2) .wp-block-column h6 + ul, .mobile .transmission__main .wp-block-group:nth-child(2) .wp-block-column h1, .mobile .transmission__main .wp-block-group:nth-child(2) .wp-block-column h1 + ul, .mobile .transmission__main .wp-block-group:nth-child(2) .wp-block-column h2, .mobile .transmission__main .wp-block-group:nth-child(2) .wp-block-column h2 + ul, .mobile .transmission__main .wp-block-group:nth-child(2) .wp-block-column h3, .mobile .transmission__main .wp-block-group:nth-child(2) .wp-block-column h3 + ul, .mobile .transmission__main .wp-block-group:nth-child(2) .wp-block-column h4, .mobile .transmission__main .wp-block-group:nth-child(2) .wp-block-column h4 + ul, .mobile .transmission__main .wp-block-group:nth-child(2) .wp-block-column h5, .mobile .transmission__main .wp-block-group:nth-child(2) .wp-block-column h5 + ul, .mobile .transmission__main .wp-block-group:nth-child(2) .wp-block-column h6, .mobile .transmission__main .wp-block-group:nth-child(2) .wp-block-column h6 + ul {
  margin: 0;
}
.mobile .creation__main .wp-block-group:nth-child(2) .wp-block-column p, .mobile .transmission__main .wp-block-group:nth-child(2) .wp-block-column p {
  margin: 0;
}
.mobile .creation__main .wp-block-group + .wp-block-columns, .mobile .transmission__main .wp-block-group + .wp-block-columns {
  order: 3;
  padding: 1.4rem;
}
.mobile .creation__main .wp-block-group + .wp-block-columns .wp-block-column p, .mobile .transmission__main .wp-block-group + .wp-block-columns .wp-block-column p {
  text-indent: 3rem;
  font-size: var(--infos-height);
  line-height: var(--infos-line-height);
}
.mobile .creation__main .wp-block-group:nth-child(4), .mobile .transmission__main .wp-block-group:nth-child(4) {
  order: 4;
  padding: 1.4rem;
}
.mobile .creation__main .wp-block-group:nth-child(4) ul, .mobile .transmission__main .wp-block-group:nth-child(4) ul {
  margin: 0;
}
.mobile .creation__main .wp-block-group:nth-child(4) li, .mobile .transmission__main .wp-block-group:nth-child(4) li {
  font-weight: 600;
  font-size: var(--regular-height);
  line-height: var(--regular-line-height);
}
.mobile .creation #videos__btn--open, .mobile .transmission #videos__btn--open {
  position: initial;
  order: 1;
  display: inline-flex;
  margin: -60px 0 60px 0;
  padding: 1.4rem;
}
.mobile .spectacles__main > .wp-block-group p, .mobile .transmissions__main > .wp-block-group p {
  padding: 1.4rem 0;
  text-indent: 2rem;
  font-size: 16px;
  line-height: 18px;
}
.mobile .calendrier__main article {
  padding: 1rem 2rem;
  grid-template-columns: 1fr;
}
.mobile .calendrier__main article *:not(p) {
  font-size: 22px;
}
.mobile .calendrier__main article:hover *:not(a):not(p) {
  font-weight: 600;
}
.mobile .calendrier__main h4, .mobile .calendrier__main h5, .mobile .calendrier__main p {
  margin: 0 !important;
}
.mobile .calendrier__main h5, .mobile .calendrier__main p {
  font-size: 18px !important;
}
.mobile .calendrier__main time {
  text-transform: uppercase;
}
.mobile .wp-block-group {
  padding: 1.4rem;
}
@media only screen and (orientation: landscape) {
  .mobile {
    --width: 60vw;
  }
  .mobile #menu-main_nav {
    overflow-y: scroll;
  }
  .mobile #main {
    width: var(--width);
    overflow-y: scroll;
    padding-bottom: 60px;
  }
  .mobile #aside {
    position: absolute;
    right: 0;
    width: calc( 100vw - var( --width ) );
    height: calc( 100vh - 70px );
    padding-top: 35px;
  }
  .mobile .home #main > p {
    font-size: 31px;
    line-height: 32px;
  }
  .mobile .creation__aside > div:not(.creation__videos), .mobile .creation__videos > div:not(.creation__videos), .mobile .home__aside > div:not(.creation__videos), .mobile .home__videos > div:not(.creation__videos), .mobile .transmission__aside > div:not(.creation__videos), .mobile .transmission__videos > div:not(.creation__videos) {
    height: calc( 100vh - 105px );
  }
  .mobile .creation__aside .splide__slide.is-active > div, .mobile .creation__videos .splide__slide.is-active > div, .mobile .home__aside .splide__slide.is-active > div, .mobile .home__videos .splide__slide.is-active > div, .mobile .transmission__aside .splide__slide.is-active > div, .mobile .transmission__videos .splide__slide.is-active > div {
    height: calc( 100vh - 105px );
  }
  .mobile .creation__aside .splide__slide img, .mobile .creation__videos .splide__slide img, .mobile .home__aside .splide__slide img, .mobile .home__videos .splide__slide img, .mobile .transmission__aside .splide__slide img, .mobile .transmission__videos .splide__slide img {
    height: 100%;
  }
}
.mobile.tablet .home #main > p {
  font-size: 50px;
  line-height: 50px;
}
.mobile.tablet .creation .main__heading h1, .mobile.tablet .transmission .main__heading h1 {
  display: inline-block;
}
@media only screen and (orientation: landscape) {
  .mobile.tablet .creation .main__heading h1, .mobile.tablet .transmission .main__heading h1 {
    width: calc( 100vw - var( --width ) );
  }
  .mobile.tablet .main__category {
    height: 43px;
    width: calc(100% + 3rem);
    margin-left: -1.6rem;
  }
}
@media only screen and (orientation: portrait) {
  .mobile.tablet .creation .main__heading h1, .mobile.tablet .transmission .main__heading h1 {
    width: 60vw;
  }
  .mobile.tablet .main__category {
    display: none;
  }
}