$main-color: #7EB4B4;
$border: 2px solid #000;
$height: 70px;
$padding: 105px;

.mobile {

    --labeur-width: 100vw;

    --infos-height: 20px;
    --infos-line-height: 22px;
    --regular-height: 16px;
    --regular-line-height: 18px;

    --title-height: 40px;
    --title-line-height: 50px;
    --summary-height: 20px;
    --summary-line-height: 26px;

    // overflow-y: initial;

    :active, :focus {

        outline: none;

    }

    & > header {
        height: $height;
    }
    
    & #menu-main_nav {
        
        flex-direction: column;
        justify-content: start;
        position: fixed;
        top: $height;
        left: 0;
        height: calc( 100% - #{ $height } );
        width: 100%;
        background: $main-color;
        padding: 0;
        text-align: center;
        z-index: 99999;

        & li {

            padding: 1.2rem;
            font-size: 36px;
            border-bottom: $border;
            background-color: #F8F8F8;

        }

    }

    & header {

        & svg {

            left: 1rem;

        }

        & details {

            position: absolute;
            right: 1rem;

            & summary {
          
                position: relative;
                height: 36px;
                width: 40px;
                padding: 0;
                border: none;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                list-style: none;

                &::-webkit-details-marker {
                    display: none; // Remove arrow
                }
                
                &::before, &::after, & span {
                    
                    height: 2px;
                    width: 100%;
                    background: #000;
                    opacity: 1;
                    transition: all 0.6s;
                    
                }
                
                &::before, &::after {
            
                    position: absolute;
                    content: "";
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(0deg);
                    
                }
          
            }
            
            &[open] {
          
                & summary {
                
                    &::before, &::after {
                    
                        width: 130%;
                    
                    }
                    
                    &::before {
            
                        transform: translate(-50%, -50%) rotate(45deg);
                    
                    }
                    
                    &::after {
            
                        transform: translate(-50%, -50%) rotate(-45deg);
                    
                    }
            
                    & span {
            
                        opacity: 0;
            
                    }
            
                }
              
            }
            
        }

    }

    & article, & h6 {

        padding-left: 1.4rem;

    }

    & h6 {

        font-size: 12px;
        padding-bottom: .6rem;

    }

    & article {

        padding: 0 1.4rem;

        & h4 {

            font-size: 18px;
            margin: .6rem 0;

        }

    }

    & #content {

        background: $main-color;
        box-sizing: border-box;
        height: calc( 100vh - #{ $height } );
        padding-bottom: 60px;
        overflow: hidden;
        overflow-y: scroll;

    }

    & #aside, & #main {

        position: initial;
        top: initial;
        height: auto;
        width: 100%;

        @media only screen and (orientation: landscape) {

            min-height: calc( 100vh - #{ $height } - 60px);

        }

    }

    & #aside {

        order: -1;
        height: calc(35vh + 60px);

    }

    & #main {

        background-color: #F8F8F8;
        overflow-x: hidden;
        height: auto;

    }

    &:not(.tablet) {
        
        & .main {

            &__heading {

                display: inline-block;

            }

            &__category {

                display: none;

            }

        }

    }

    .main {

        &__heading {

            order: -1;
            align-self: flex-start;
            top: 0;
            position: sticky;
            height: auto;
            padding: 0.6rem 1.4rem;
            z-index: 99998;
            border-bottom: 2px solid #000;

            @media screen and (orientation: landscape) {
                
                width: var(--width);

            }

        }

        &__title {

            display: initial;
            font-size: 50px;
            line-height: 44px;
            
        }
    }

    & .compagnie {

        overflow: hidden !important;
    
        &__main {

            height: calc( 100vh - #{ $height } ) !important;
    
            & .wp-block-group {
    
                &:nth-child( 1 ) {
                    
                    padding: 1rem 1.4rem;
    
                }
    
                &:not( :nth-child( 1 ) ) {
    
                    & .wp-block-group__inner-container {
    
                        & > h2 {
    
                            & + .wp-block-columns {
        
                                grid-gap: 4rem 1rem;
                                grid-template-columns: repeat(2, 1fr);
    
                                & *:not( :first-child ) {

                                    grid-column: span 2;
                                    
                                }
                                
                            }
        
                        }
        
                        & p + div,
                        & > h2 + .wp-block-columns {
        
                            margin: 5rem 0 5rem 2rem;
        
                        }
    
                    }
    
                }
                
            }
    
        }
    
    }

    & .home, & .creation, & .transmission {

        &__aside, &__videos {
            & .splide__slide {
                & img {
                    height: 35vh;
                }
            }
        }

        &__videos {

            width: 100vw;
            height: calc(100vh - var( --top ) );

            &:not( .hidden ) {
    
                top: var( --top );
    
            }

        }

    }

    & .home {

        & #main {

            & > p {

                font-size: 36px;
                line-height: 36px;
                padding: 1.4rem;

            }

        }

    }

    .creation, .transmission {

        &__main {

            display: flex;
            flex-direction: column;

            & .wp-block-group {

                & > * {
                    margin-top: 0;
                }

                &:nth-child( 1 ) {

                    order: 0;
                    padding-bottom: 46px;
                    border-bottom: none !important;

                    & ul {

                        & li {
                            font-size: var( --regular-height );
                            line-height: var( --regular-line-height );
                            font-weight: lighter;
                        }
                        
                        &:first-child {

                            & li {
                    
                                text-transform: uppercase;
                                font-weight: bolder;
                    
                            }

                            & li, & + p {

                                font-size: var( --infos-height );
                                line-height: var( --infos-line-height );

                            }

                            &, & + p {

                                margin: 0;

                            }
                        }

                        &:not( :first-child ) {
                            margin: 2rem 0;
                        }

                    }

                }

                &:nth-child( 2 ) {

                    order: 2;

                    & .wp-block-columns {

                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: 1rem;
                        
                    }

                    & .wp-block-column {

                        font-size: var( --regular-height );
                        line-height: var( --regular-line-height );
                        margin: 0;

                        &:last-child {

                            grid-column: span 2;

                        }

                        & h1, & h2, & h3, & h4, & h5, & h6 {

                            font-size: var( --regular-height );
                            line-height: var( --regular-line-height );

                            text-transform: uppercase;
                            font-weight: bolder;

                            &, & + ul {

                                margin: 0;

                            }

                        }

                        & p {

                            margin: 0;

                        }

                    }

                }

                & + .wp-block-columns {

                    order: 3;
                    padding: 1.4rem;
                    
                    & .wp-block-column {

                        & p {
                            
                            text-indent: 3rem;
                            font-size: var( --infos-height );
                            line-height: var( --infos-line-height );

                        }

                    }

                }

                &:nth-child( 4 ) {

                    order: 4;
                    padding: 1.4rem;

                    & ul {

                        margin: 0;

                    }

                    & li {

                        font-weight: 600;
                        font-size: var(--regular-height);
                        line-height: var(--regular-line-height);

                    }

                }
                
            }

        }

        & #videos__btn--open {

            position: initial;
            order: 1;
            display: inline-flex;
            margin: -60px 0 60px 0;
            padding: 1.4rem;

        }

    }

    & .spectacles,
    & .transmissions {

        &__main {

            & > .wp-block-group {

                & p {

                    padding: 1.4rem 0;
                    text-indent: 2rem;
                    font-size: 16px;
                    line-height: 18px;

                }

            }

        }

    }

    & .calendrier__main {
    
        & article {
    
            padding: 1rem 2rem;
            grid-template-columns: 1fr;
    
            & *:not( p ) {
                
                font-size: 22px;
                
            }
    
            &:hover *:not( a ):not( p ) {
    
                font-weight: 600;
                
            }
    
        }
    
        & h4, & h5, & p {
            
            margin: 0 !important;
            
        }
    
        & h5, & p {
            
            font-size: 18px !important;
    
        }
    
        & time {
    
            text-transform: uppercase;
    
        }
    }

    & .wp-block-group {

        padding: 1.4rem;

    }

    @media only screen and (orientation: landscape) {

        & #menu-main_nav {

            overflow-y: scroll;

        }

        --width: 60vw;

        & #main {

            width: var( --width );
            // overflow: hidden;
            overflow-y: scroll;
            padding-bottom: 60px;

        }
        
        & #aside {

            position: absolute;
            right: 0;
            width: calc( 100vw - var( --width ) );
            height: calc( 100vh - #{ $height } );
            padding-top: 35px;

        }

        & .home {

            & #main > p {

                font-size: 31px;
                line-height: 32px;

            }

        }

        & .creation, & .home, & .transmission {

            &__aside, &__videos {

                & > div:not( .creation__videos ) {

                    height: calc( 100vh - #{ $padding } );

                }

                & .splide__slide {

                    &.is-active {

                        & > div {

                            height: calc( 100vh - #{ $padding } );

                        }

                    }

                    & img {

                        height: 100%;

                    }

                }

            }

        }

    }

    &.tablet {

        & .home {

            & #main {

                & > p {

                    font-size: 50px;
                    line-height: 50px;

                }

            }

        }

        & .creation, & .transmission {
        
            & .main__heading {
        
                & h1 {

                    display: inline-block;
        
                }

            }

        }

        @media only screen and (orientation: landscape) {

            & .creation, & .transmission {
            
                & .main__heading {
            
                    & h1 {
            
                        width: calc( 100vw - var( --width ) );
            
                    }

                }

            }

            & .main__category {
    
                height: 43px;
                width: calc(100% + 3rem);
                margin-left: -1.6rem;

            }

        }

        @media only screen and (orientation: portrait) {

            & .creation, & .transmission {
            
                & .main__heading {
            
                    & h1 {
            
                        width: 60vw;
            
                    }

                }

            }

            & .main__category {

                display: none;
            
            }

        }

    }
    
}