@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("./splide.min.css");
@import url("./splide-core.min.css");
:root {
  --height: 86px;
  --labeur-width: 600px;
  --title-height: 80px;
  --title-line-height: 76px;
  --infos-height: 26px;
  --infos-line-height: 30px;
  --regular-height: 16px;
  --regular-line-height: 22px;
  --summary-height: 20px;
  --summary-line-height: 26px;
}
@media (max-width: 1299.98px) {
  :root {
    --width: 60vw;
  }
}
@media (min-width: 1300px) {
  :root {
    --width: 50vw;
  }
}

::-moz-selection {
  /* Code for Firefox */
  color: #7EB4B4;
  background: none;
}

::selection {
  color: #7EB4B4;
  background: none;
}

html, body {
  overflow: hidden;
}

body {
  font-family: ivystyle-tw, sans-serif;
  font-weight: 200;
  font-style: normal;
  background-color: #F8F8F8;
}

ul {
  padding: 0;
}
ul li {
  list-style-type: none;
}

a {
  color: inherit;
}

body > header {
  height: var(--height);
  border-bottom: 2px solid #000;
  position: relative;
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 99999;
  top: 0;
  background: #fff;
}
body > header h1 {
  display: none;
}
body > header svg {
  height: 100%;
  width: auto;
  position: absolute;
  top: 0;
  right: 1rem;
}
body > header a {
  text-decoration: none;
}

.menu-main_nav-container ul {
  width: 760px;
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 2rem;
  box-sizing: border-box;
}
.menu-main_nav-container li {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}

#scotch {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  left: 0;
  top: 0;
  margin: 0;
  mix-blend-mode: darken;
  background-color: #7EB4B4;
  pointer-events: none;
  opacity: 1;
}
#scotch img {
  mix-blend-mode: screen;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes asideFadeIn {
  0% {
    top: -100vh;
  }
  100% {
    top: var(--height);
  }
}
@keyframes asideFadeOut {
  0% {
    top: var(--height);
  }
  100% {
    top: 100vh;
  }
}
#content.loading #scotch, #content.loading #main, #content.loading .main__heading, #content.fadeout #scotch, #content.fadeout #main, #content.fadeout .main__heading {
  opacity: 0 !important;
}
#content.loading #aside, #content.fadeout #aside {
  top: -100vh;
}
#content.fadeout #aside {
  animation: asideFadeOut ease 0.4s;
  animation-delay: 0s;
}
#content:not(.loading):not(.fadeout) #scotch, #content:not(.loading):not(.fadeout) #main, #content:not(.loading):not(.fadeout) .main__heading {
  animation: mainFadeIn ease 0.6s;
}
#content:not(.loading):not(.fadeout) #aside {
  animation: asideFadeIn ease 0.6s;
  animation-delay: 1s;
}
#content:not(.loading):not(.fadeout) #scotch, #content:not(.loading):not(.fadeout) #main, #content:not(.loading):not(.fadeout) #aside, #content:not(.loading):not(.fadeout) .main__heading {
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#main, #aside {
  position: fixed;
  top: var(--height);
  height: calc(100vh - var(--height));
}

#main {
  width: var(--width);
  left: 0;
  overflow-y: scroll;
  opacity: 1;
  transition: all 0.6s;
}
#main:not(.home__main):not(.mentions__main) > *:not(:last-child):not(.last) {
  border-bottom: 2px solid #000;
}
#main .wp-block-group__inner-container > *, #main .wp-block-columns .wp-block-column:only-child {
  max-width: var(--labeur-width);
}

#main > .wp-block-columns > .wp-block-column, .wp-block-group__inner-container > .wp-block-columns > .wp-block-column {
  display: flex;
  flex-direction: column;
  hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
}
#main > .wp-block-columns > .wp-block-column:only-child > p, .wp-block-group__inner-container > .wp-block-columns > .wp-block-column:only-child > p {
  text-align: justify;
}

#aside {
  width: calc(100vw - var( --width ));
  background-color: #7EB4B4;
  right: 0;
  z-index: 1;
  padding-top: 60px;
  transition: top 0.15s;
  transition-timing-function: ease-in-out;
}

.home #main > p {
  font-size: 54px;
  line-height: 56px;
  text-transform: uppercase;
  padding: 3.4rem 2rem;
  margin: 0;
}
.home #main > p:first-child {
  min-height: calc(100% - 25vh);
}
.home #main h6 {
  font-size: 22px;
  font-weight: 300;
}

.main__heading {
  text-transform: uppercase;
  background-color: #F8F8F8;
  position: sticky;
  z-index: 1;
  top: 0;
}
.main__category {
  border-bottom: 2px solid #000;
  height: 62px;
  padding: 1rem 1.6rem 0.6rem 1.6rem;
  display: flex;
  justify-content: end;
  align-items: end;
}

.wp-block-group {
  padding: 3.4rem 2rem;
}

h6, article {
  box-sizing: border-box;
  border-bottom: 2px solid #000;
  padding-left: 2rem;
}

h6 {
  padding-bottom: 1rem;
  text-transform: uppercase;
}

article {
  font-weight: 500;
}
article h4 {
  font-size: 22px;
  text-transform: uppercase;
  margin: 1rem 0;
}
article:hover h4 {
  font-weight: 600;
}
article a {
  text-decoration: none;
}

.calendrier__main article {
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 8rem 1fr;
}
.calendrier__main article *:not(p) {
  font-size: 22px;
}
.calendrier__main article:hover *:not(a):not(p) {
  font-weight: 600;
}
.calendrier__main h4 {
  margin: 0;
}
.calendrier__main p {
  font-size: 18px;
}
.calendrier__main time {
  text-transform: uppercase;
}

#aside {
  overflow: hidden;
}
#aside figure {
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);
  margin: 0;
  object-fit: cover;
  bottom: 0;
  overflow: hidden;
  transition: bottom 0.4s;
}
#aside figure img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#aside figure.hidden {
  bottom: 100vh;
}

.compagnie__main * {
  box-sizing: border-box;
}
.compagnie__main > * {
  margin: 0;
}
.compagnie__main .wp-block-group > * {
  margin-top: 0;
}
.compagnie__main .wp-block-group:nth-child(1) {
  top: 0;
  position: sticky;
  background-color: #F8F8F8;
  padding: 3rem 2rem;
}
.compagnie__main .wp-block-group:nth-child(1) h1 {
  text-transform: uppercase;
  width: var(--labeur-width);
  font-size: var(--title-height);
  line-height: var(--title-line-height);
  font-weight: normal;
}
.compagnie__main .wp-block-group:not(:nth-child(1)) .wp-block-group__inner-container > h2 {
  text-transform: uppercase;
}
.compagnie__main .wp-block-group:not(:nth-child(1)) .wp-block-group__inner-container > h2, .compagnie__main .wp-block-group:not(:nth-child(1)) .wp-block-group__inner-container > h2 + p {
  font-size: var(--infos-height);
  line-height: var(--infos-line-height);
}
.compagnie__main .wp-block-group:not(:nth-child(1)) .wp-block-group__inner-container > h2 + .wp-block-columns {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 12rem 1fr;
  grid-gap: 2rem;
  font-size: var(--regular-height);
  line-height: var(--regular-line-height);
}
.compagnie__main .wp-block-group:not(:nth-child(1)) .wp-block-group__inner-container > h2 + .wp-block-columns .wp-block-column {
  margin: 0;
}
.compagnie__main .wp-block-group:not(:nth-child(1)) .wp-block-group__inner-container > h2 + .wp-block-columns h3 {
  text-transform: uppercase;
}
.compagnie__main .wp-block-group:not(:nth-child(1)) .wp-block-group__inner-container > h2 + .wp-block-columns p {
  margin-bottom: 1rem;
}
.compagnie__main .wp-block-group:not(:nth-child(1)) .wp-block-group__inner-container > h2 + .wp-block-columns *:not(:first-child) h3 {
  margin-bottom: 1rem;
}
.compagnie__main .wp-block-group:not(:nth-child(1)) .wp-block-group__inner-container p + div {
  margin: 5rem 2rem;
  font-size: var(--regular-height);
  line-height: var(--regular-line-height);
}

.spectacles__main > .wp-block-group h1, .spectacles__main > .wp-block-group h2, .spectacles__main > .wp-block-group h3, .spectacles__main > .wp-block-group h4, .spectacles__main > .wp-block-group h5, .spectacles__main > .wp-block-group h6, .transmissions__main > .wp-block-group h1, .transmissions__main > .wp-block-group h2, .transmissions__main > .wp-block-group h3, .transmissions__main > .wp-block-group h4, .transmissions__main > .wp-block-group h5, .transmissions__main > .wp-block-group h6 {
  font-size: var(--infos-height);
  line-height: var(--infos-line-height);
  text-transform: uppercase;
  font-weight: bolder;
}
.spectacles__main > .wp-block-group p, .transmissions__main > .wp-block-group p {
  padding: 3rem 2rem 0 3rem;
  text-indent: 4rem;
  font-size: 20px;
  line-height: 26px;
}

.creation__main *, .transmission__main * {
  box-sizing: border-box;
}
.creation__main > *, .transmission__main > * {
  margin: 0;
}
.creation__main > *:not(.main__heading), .transmission__main > *:not(.main__heading) {
  padding: 1rem 2rem 1.4rem 2rem;
}
.creation__main h1, .transmission__main h1 {
  width: var(--labeur-width);
  padding: 1rem 2rem 1.4rem;
  font-size: var(--title-height);
  line-height: var(--title-line-height);
  font-weight: normal;
}
.creation__main .wp-block-group > *, .transmission__main .wp-block-group > * {
  margin-top: 0;
}
.creation__main .wp-block-group:nth-child(2) ul li, .transmission__main .wp-block-group:nth-child(2) ul li {
  font-size: var(--regular-height);
  line-height: var(--regular-line-height);
  font-weight: lighter;
}
.creation__main .wp-block-group:nth-child(2) ul:first-child li, .transmission__main .wp-block-group:nth-child(2) ul:first-child li {
  text-transform: uppercase;
  font-weight: bolder;
}
.creation__main .wp-block-group:nth-child(2) ul:first-child li, .creation__main .wp-block-group:nth-child(2) ul:first-child + p, .transmission__main .wp-block-group:nth-child(2) ul:first-child li, .transmission__main .wp-block-group:nth-child(2) ul:first-child + p {
  font-size: var(--infos-height);
  line-height: var(--infos-line-height);
}
.creation__main .wp-block-group:nth-child(2) ul:first-child, .creation__main .wp-block-group:nth-child(2) ul:first-child + p, .transmission__main .wp-block-group:nth-child(2) ul:first-child, .transmission__main .wp-block-group:nth-child(2) ul:first-child + p {
  margin: 0;
}
.creation__main .wp-block-group:nth-child(2) ul:not(:first-child), .transmission__main .wp-block-group:nth-child(2) ul:not(:first-child) {
  margin: 2rem 0;
}
.creation__main .wp-block-group:nth-child(3) .wp-block-column, .transmission__main .wp-block-group:nth-child(3) .wp-block-column {
  font-size: var(--regular-height);
  line-height: var(--regular-line-height);
}
.creation__main .wp-block-group:nth-child(3) .wp-block-column h1, .creation__main .wp-block-group:nth-child(3) .wp-block-column h2, .creation__main .wp-block-group:nth-child(3) .wp-block-column h3, .creation__main .wp-block-group:nth-child(3) .wp-block-column h4, .creation__main .wp-block-group:nth-child(3) .wp-block-column h5, .creation__main .wp-block-group:nth-child(3) .wp-block-column h6, .transmission__main .wp-block-group:nth-child(3) .wp-block-column h1, .transmission__main .wp-block-group:nth-child(3) .wp-block-column h2, .transmission__main .wp-block-group:nth-child(3) .wp-block-column h3, .transmission__main .wp-block-group:nth-child(3) .wp-block-column h4, .transmission__main .wp-block-group:nth-child(3) .wp-block-column h5, .transmission__main .wp-block-group:nth-child(3) .wp-block-column h6 {
  font-size: var(--regular-height);
  line-height: var(--regular-line-height);
  text-transform: uppercase;
  font-weight: bolder;
}
.creation__main .wp-block-group:nth-child(3) .wp-block-column h1, .creation__main .wp-block-group:nth-child(3) .wp-block-column h1 + ul, .creation__main .wp-block-group:nth-child(3) .wp-block-column h2, .creation__main .wp-block-group:nth-child(3) .wp-block-column h2 + ul, .creation__main .wp-block-group:nth-child(3) .wp-block-column h3, .creation__main .wp-block-group:nth-child(3) .wp-block-column h3 + ul, .creation__main .wp-block-group:nth-child(3) .wp-block-column h4, .creation__main .wp-block-group:nth-child(3) .wp-block-column h4 + ul, .creation__main .wp-block-group:nth-child(3) .wp-block-column h5, .creation__main .wp-block-group:nth-child(3) .wp-block-column h5 + ul, .creation__main .wp-block-group:nth-child(3) .wp-block-column h6, .creation__main .wp-block-group:nth-child(3) .wp-block-column h6 + ul, .transmission__main .wp-block-group:nth-child(3) .wp-block-column h1, .transmission__main .wp-block-group:nth-child(3) .wp-block-column h1 + ul, .transmission__main .wp-block-group:nth-child(3) .wp-block-column h2, .transmission__main .wp-block-group:nth-child(3) .wp-block-column h2 + ul, .transmission__main .wp-block-group:nth-child(3) .wp-block-column h3, .transmission__main .wp-block-group:nth-child(3) .wp-block-column h3 + ul, .transmission__main .wp-block-group:nth-child(3) .wp-block-column h4, .transmission__main .wp-block-group:nth-child(3) .wp-block-column h4 + ul, .transmission__main .wp-block-group:nth-child(3) .wp-block-column h5, .transmission__main .wp-block-group:nth-child(3) .wp-block-column h5 + ul, .transmission__main .wp-block-group:nth-child(3) .wp-block-column h6, .transmission__main .wp-block-group:nth-child(3) .wp-block-column h6 + ul {
  margin: 0;
}
.creation__main .wp-block-group:nth-child(3) .wp-block-column p, .transmission__main .wp-block-group:nth-child(3) .wp-block-column p {
  margin: 0;
}
.creation__main .wp-block-group + .wp-block-columns, .transmission__main .wp-block-group + .wp-block-columns {
  padding: 6.4rem 5rem;
}
.creation__main .wp-block-group + .wp-block-columns .wp-block-column p, .transmission__main .wp-block-group + .wp-block-columns .wp-block-column p {
  margin: 0;
  text-indent: 4rem;
  font-size: 20px;
  line-height: 26px;
}
.creation__main .wp-block-group:nth-child(5), .transmission__main .wp-block-group:nth-child(5) {
  padding: 2rem;
}
.creation__main .wp-block-group:nth-child(5) ul, .transmission__main .wp-block-group:nth-child(5) ul {
  margin: 0;
}
.creation__main .wp-block-group:nth-child(5) li, .transmission__main .wp-block-group:nth-child(5) li {
  font-weight: 600;
  font-size: var(--regular-height);
  line-height: var(--regular-line-height);
}

.home__aside.hidden, .home__videos.hidden, .creation__aside.hidden, .creation__videos.hidden, .transmission__aside.hidden, .transmission__videos.hidden {
  top: -100vh;
}
.home__aside > div:not(.creation__videos), .home__videos > div:not(.creation__videos), .creation__aside > div:not(.creation__videos), .creation__videos > div:not(.creation__videos), .transmission__aside > div:not(.creation__videos), .transmission__videos > div:not(.creation__videos) {
  height: calc(100vh - 140px);
  width: 100%;
  overflow: hidden;
}
.home__aside .splide__slide, .home__videos .splide__slide, .creation__aside .splide__slide, .creation__videos .splide__slide, .transmission__aside .splide__slide, .transmission__videos .splide__slide {
  padding-top: 0%;
  transition: all 0.15s;
  transition-timing-function: ease-in-out;
}
.home__aside .splide__slide > div, .home__videos .splide__slide > div, .creation__aside .splide__slide > div, .creation__videos .splide__slide > div, .transmission__aside .splide__slide > div, .transmission__videos .splide__slide > div {
  height: 0%;
  overflow: hidden;
  position: relative;
  transition: all 0.15s;
  transition-timing-function: ease-in-out;
}
.home__aside .splide__slide iframe, .home__videos .splide__slide iframe, .creation__aside .splide__slide iframe, .creation__videos .splide__slide iframe, .transmission__aside .splide__slide iframe, .transmission__videos .splide__slide iframe {
  width: 100%;
}
.home__aside .splide__slide img, .home__videos .splide__slide img, .creation__aside .splide__slide img, .creation__videos .splide__slide img, .transmission__aside .splide__slide img, .transmission__videos .splide__slide img {
  position: absolute;
  object-fit: cover;
  height: calc(100vh - 140px);
  width: 100%;
}
.home__aside .splide__slide.is-active > div, .home__videos .splide__slide.is-active > div, .creation__aside .splide__slide.is-active > div, .creation__videos .splide__slide.is-active > div, .transmission__aside .splide__slide.is-active > div, .transmission__videos .splide__slide.is-active > div {
  height: calc(100vh - 140px);
}
.home__aside .splide__slide.is-next, .home__aside .splide__slide.is-first:not(.is-prev):not(.is-active), .home__videos .splide__slide.is-next, .home__videos .splide__slide.is-first:not(.is-prev):not(.is-active), .creation__aside .splide__slide.is-next, .creation__aside .splide__slide.is-first:not(.is-prev):not(.is-active), .creation__videos .splide__slide.is-next, .creation__videos .splide__slide.is-first:not(.is-prev):not(.is-active), .transmission__aside .splide__slide.is-next, .transmission__aside .splide__slide.is-first:not(.is-prev):not(.is-active), .transmission__videos .splide__slide.is-next, .transmission__videos .splide__slide.is-first:not(.is-prev):not(.is-active) {
  padding-top: calc(100vh - 140px);
}
.home__aside .splide__slide.is-next > div, .home__aside .splide__slide.is-first:not(.is-prev):not(.is-active) > div, .home__videos .splide__slide.is-next > div, .home__videos .splide__slide.is-first:not(.is-prev):not(.is-active) > div, .creation__aside .splide__slide.is-next > div, .creation__aside .splide__slide.is-first:not(.is-prev):not(.is-active) > div, .creation__videos .splide__slide.is-next > div, .creation__videos .splide__slide.is-first:not(.is-prev):not(.is-active) > div, .transmission__aside .splide__slide.is-next > div, .transmission__aside .splide__slide.is-first:not(.is-prev):not(.is-active) > div, .transmission__videos .splide__slide.is-next > div, .transmission__videos .splide__slide.is-first:not(.is-prev):not(.is-active) > div {
  height: 100%;
}
.home__aside .splide__arrow, .home__videos .splide__arrow, .creation__aside .splide__arrow, .creation__videos .splide__arrow, .transmission__aside .splide__arrow, .transmission__videos .splide__arrow {
  background: none;
  width: 100%;
  height: 50%;
  border-radius: unset;
  cursor: none;
}
.home__aside .splide__arrow--next, .home__videos .splide__arrow--next, .creation__aside .splide__arrow--next, .creation__videos .splide__arrow--next, .transmission__aside .splide__arrow--next, .transmission__videos .splide__arrow--next {
  bottom: 0 !important;
}
.home__aside .splide__arrow--prev, .home__videos .splide__arrow--prev, .creation__aside .splide__arrow--prev, .creation__videos .splide__arrow--prev, .transmission__aside .splide__arrow--prev, .transmission__videos .splide__arrow--prev {
  top: 0 !important;
}
.home__aside .splide__arrow svg, .home__videos .splide__arrow svg, .creation__aside .splide__arrow svg, .creation__videos .splide__arrow svg, .transmission__aside .splide__arrow svg, .transmission__videos .splide__arrow svg {
  display: none;
}
.home__videos, .creation__videos, .transmission__videos {
  position: fixed;
  top: var(--height);
  height: calc(100vh - var(--height));
  transition: top 0.25s;
  width: calc(100vw - var( --width ));
  background-color: #7EB4B4;
  right: 0;
  z-index: 1;
  padding-top: 60px;
  transition-timing-function: ease-in-out;
}
.home__videos .splide__arrow--prev, .creation__videos .splide__arrow--prev, .transmission__videos .splide__arrow--prev {
  height: 15%;
}
.home__videos .splide__arrow--next, .creation__videos .splide__arrow--next, .transmission__videos .splide__arrow--next {
  height: 50%;
}

.contacts .contacts__main .wp-block-group:first-child {
  padding: 2rem;
  display: flex;
  flex-direction: column-reverse;
}
.contacts .contacts__main .wp-block-group h2 {
  font-size: var(--infos-height);
  line-height: var(--infos-line-height);
}
.contacts .contacts__main .wp-block-group h2 + p {
  margin-bottom: 1rem;
  font-size: var(--summary-height);
}
.contacts .contacts__main .wp-block-group p {
  line-height: var(--summary-line-height);
}
.contacts .contacts__main .wp-block-group p:last-child {
  margin-top: 5rem;
}
.contacts .contacts__main .wp-block-gallery {
  margin-top: 1.4rem;
}
.contacts .contacts__main .wp-block-gallery img {
  max-height: 5rem;
  max-width: 7rem;
  width: auto;
  height: auto;
  object-fit: contain;
}
.contacts .contacts__main .blocks-gallery-item {
  width: auto;
  height: auto;
  margin: 0 1.4rem 1rem 0;
}
.contacts .contacts__main .blocks-gallery-item, .contacts .contacts__main .blocks-gallery-item figure {
  display: initial;
}

.mentions__main {
  padding: 2rem;
}
.mentions * {
  font-size: var(--summary-height);
  line-height: var(--summary-line-height);
}
.mentions h1 {
  font-size: var(--infos-height);
  line-height: var(--infos-line-height);
  margin: 3rem 0 5rem 0;
  text-decoration: underline;
}
.mentions p + h2 {
  margin-top: 2rem;
}

.btn {
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
}
.btn#videos__btn--open, .btn#videos__btn--close {
  position: absolute;
}
.btn#videos__btn--open {
  top: calc( 100vh - 150px );
}
.btn#videos__btn--close {
  height: calc( 60px - 2rem );
  padding: 0;
  top: 1rem;
  right: 1.4rem;
}
.btn#videos__btn--close svg {
  height: 100%;
}

#fleche {
  opacity: 0;
  width: 60px;
  z-index: 99999;
  position: fixed;
  bottom: 0;
  right: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
}