@import url( "https://use.typekit.net/cbd7fbh.css" );

body {
    font-family: ivystyle-tw, sans-serif;
    font-weight: 200;
    font-style: normal; 
}

ul {

    padding: 0;

    & li {

        list-style-type: none;

    }

}

.editor-post-title {

    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding-left: 1rem;

    &__input {
        min-height: 200px;
        height: auto !important;
        text-transform: uppercase;
        font-size: 6rem;
        line-height: 5rem;
        font-weight: bolder;
    }
}

.wp-block-group {

    border-bottom: 3px solid black;
    padding: 2rem 1rem;

    & > * {
        margin-top: 0;
    }

    &:first-child {

        & ul {

            & li {
                font-size: 1.2rem;
                line-height: 1.4rem;
                font-weight: lighter;
            }
            
            &:first-child {

                & li {
        
                    text-transform: uppercase;
                    font-weight: bolder;
        
                }

                & li, & + p {

                    font-size: 1.6rem;
                    line-height: 1.8rem;

                }

                &, & + p {

                    margin: 0;

                }
            }

            &:not( :first-child ) {
                margin: 2rem 0;
            }

        }

    }

    &:nth-child( 2n ) {

        & .wp-block-column {

            font-size: 16px;
            line-height: 22px;

            & h1, & h2, & h3, & h4, & h5, & h6 {

                font-size: 16px;
                line-height: 22px;

                text-transform: uppercase;
                font-weight: bolder;

                &, & + ul {

                    margin: 0;

                }

            }

            & p {

                margin: 0;

            }

        }

    }

    & + .wp-block-columns {
        
        & .wp-block-column {

            padding: 3rem;

            & p {
                
                margin: 0;
                text-indent: 4rem;
                font-size: 20px;
                line-height: 26px;

            }

        }

    }
    
}