@import url("https://use.typekit.net/cbd7fbh.css");
body {
  font-family: ivystyle-tw, sans-serif;
  font-weight: 200;
  font-style: normal;
}

ul {
  padding: 0;
}
ul li {
  list-style-type: none;
}

.editor-post-title {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  padding-left: 1rem;
}
.editor-post-title__input {
  min-height: 200px;
  height: auto !important;
  text-transform: uppercase;
  font-size: 6rem;
  line-height: 5rem;
  font-weight: bolder;
}

.wp-block-group {
  border-bottom: 3px solid black;
  padding: 2rem 1rem;
}
.wp-block-group > * {
  margin-top: 0;
}
.wp-block-group:first-child ul li {
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: lighter;
}
.wp-block-group:first-child ul:first-child li {
  text-transform: uppercase;
  font-weight: bolder;
}
.wp-block-group:first-child ul:first-child li, .wp-block-group:first-child ul:first-child + p {
  font-size: 1.6rem;
  line-height: 1.8rem;
}
.wp-block-group:first-child ul:first-child, .wp-block-group:first-child ul:first-child + p {
  margin: 0;
}
.wp-block-group:first-child ul:not(:first-child) {
  margin: 2rem 0;
}
.wp-block-group:nth-child(2n) .wp-block-column {
  font-size: 16px;
  line-height: 22px;
}
.wp-block-group:nth-child(2n) .wp-block-column h1, .wp-block-group:nth-child(2n) .wp-block-column h2, .wp-block-group:nth-child(2n) .wp-block-column h3, .wp-block-group:nth-child(2n) .wp-block-column h4, .wp-block-group:nth-child(2n) .wp-block-column h5, .wp-block-group:nth-child(2n) .wp-block-column h6 {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: bolder;
}
.wp-block-group:nth-child(2n) .wp-block-column h1, .wp-block-group:nth-child(2n) .wp-block-column h1 + ul, .wp-block-group:nth-child(2n) .wp-block-column h2, .wp-block-group:nth-child(2n) .wp-block-column h2 + ul, .wp-block-group:nth-child(2n) .wp-block-column h3, .wp-block-group:nth-child(2n) .wp-block-column h3 + ul, .wp-block-group:nth-child(2n) .wp-block-column h4, .wp-block-group:nth-child(2n) .wp-block-column h4 + ul, .wp-block-group:nth-child(2n) .wp-block-column h5, .wp-block-group:nth-child(2n) .wp-block-column h5 + ul, .wp-block-group:nth-child(2n) .wp-block-column h6, .wp-block-group:nth-child(2n) .wp-block-column h6 + ul {
  margin: 0;
}
.wp-block-group:nth-child(2n) .wp-block-column p {
  margin: 0;
}
.wp-block-group + .wp-block-columns .wp-block-column {
  padding: 3rem;
}
.wp-block-group + .wp-block-columns .wp-block-column p {
  margin: 0;
  text-indent: 4rem;
  font-size: 20px;
  line-height: 26px;
}