@import url( "https://necolas.github.io/normalize.css/8.0.1/normalize.css" );
@import url( "https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css" );

@import url( "./splide.min.css" );
@import url( "./splide-core.min.css" );

$grey: #F8F8F8;
$main-color: #7EB4B4;
$border: 2px solid #000;

:root {

    @media ( max-width: 1299.98px ) {
        --width: 60vw;
    }
    @media ( min-width: 1300px ) {
        --width: 50vw;
    }

    --height: 86px;
    --labeur-width: 600px;

    --title-height: 80px;
    --title-line-height: 76px;
    --infos-height: 26px;
    --infos-line-height: 30px;
    --regular-height: 16px;
    --regular-line-height: 22px;
    --summary-height: 20px;
    --summary-line-height: 26px;
}

::-moz-selection { /* Code for Firefox */
    color: $main-color;
    background: none;
}

::selection {
    color: $main-color;
    background: none;
}

html, body {
    overflow: hidden;
}

body {
    font-family: ivystyle-tw, sans-serif;
    font-weight: 200;
    font-style: normal;
    background-color: $grey;
}

ul {

    padding: 0;

    & li {

        list-style-type: none;

    }

}

a {
    color: inherit;
}

body > header {
    
    height: var(--height);
    border-bottom: $border;
    position: relative;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 99999;
    top: 0;
    background: #fff;

    & h1 {
        display: none;
    }
    & svg {
        height: 100%;
        width: auto;
        position: absolute;
        top: 0;
        right: 1rem;
    }
    & a {
        text-decoration: none;
    }
}

.menu-main_nav-container {

    & ul {
        width: 760px;
        display: flex;
        justify-content: space-between;
        padding: 0 0 0 2rem;
        box-sizing: border-box;
    }

    & li {
        display: inline-block;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
    }

}

#scotch {

    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 9999;
    left: 0;
    top: 0;
    margin: 0;
    mix-blend-mode: darken;
    background-color: $main-color;
    pointer-events: none;
    opacity: 1;

    & img {

        mix-blend-mode: screen;
        height: 100%;
        width: 100%;
        object-fit: cover;

    }
}
  
@keyframes mainFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
  
@keyframes asideFadeIn {
    0% {
        top: -100vh;
    }
    100% {
        top: var(--height);
    }
}
  
@keyframes asideFadeOut {
    0% {
        top: var(--height);
    }
    100% {
        top: 100vh;
    }
}

#content {

    &.loading, &.fadeout {
        & #scotch, & #main, & .main__heading {
            opacity: 0 !important;
        }
        & #aside {
            top: -100vh;
        }
    }

    &.fadeout {
        & #aside {

            animation: asideFadeOut ease .4s;
            animation-delay: 0s;

        }
    }

    &:not( .loading ):not( .fadeout ) {
        & #scotch, & #main, & .main__heading {

            animation: mainFadeIn ease .6s;

        }
        & #aside {

            animation: asideFadeIn ease .6s;
            animation-delay: 1s;

        }

        & #scotch, & #main, & #aside, & .main__heading {

            animation-iteration-count: 1;
            animation-fill-mode: forwards;

        }
    }
}

#main, #aside {
    position: fixed;
    top: var(--height);
    height: calc(100vh - var(--height));
}

#main {

    width: var( --width );
    left: 0;
    overflow-y: scroll;
    opacity: 1;
    transition: all .6s;

    &:not( .home__main ):not( .mentions__main ) > * {

        &:not( :last-child ):not( .last ) {

            border-bottom: $border;

        }

    }

    & .wp-block-group__inner-container > *,
    & .wp-block-columns .wp-block-column:only-child {

        max-width: var( --labeur-width );

    }

}

#main, .wp-block-group__inner-container {

    & > .wp-block-columns > .wp-block-column {

        &:only-child > p {

            text-align: justify;
    
        }

        display: flex;
        flex-direction: column;
        hyphens: auto;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;

    }
}

#aside {
    width: calc(100vw - var( --width ));
    background-color: $main-color;
    right: 0;
    z-index: 1;
    padding-top: 60px;
    transition: top 0.15s;
    transition-timing-function: ease-in-out;
}

.home {
    & #main {
        & > p {
            font-size: 54px;
            line-height: 56px;
            text-transform: uppercase;
            padding: 3.4rem 2rem;
            margin: 0;

            &:first-child {
                min-height: calc(100% - 25vh);
            }
        }

        & h6 {
            font-size: 22px;
            font-weight: 300;
        }
    }
}

.main {

    &__heading {

        text-transform: uppercase;
        background-color: $grey;
        position: sticky;
        z-index: 1;
        top: 0;

    }

    &__category {

        border-bottom: $border;
        height: 62px;
        padding: 1rem 1.6rem .6rem 1.6rem;
        display: flex;
        justify-content: end;
        align-items: end;

    }

}

.wp-block-group {

    padding: 3.4rem 2rem;

}

h6, article {
    
    box-sizing: border-box;
    border-bottom: $border;
    padding-left: 2rem;

}

h6 {

    padding-bottom: 1rem;
    text-transform: uppercase;

}
    
article {
    
    font-weight: 500;

    & h4 {
        
        font-size: 22px;
        text-transform: uppercase;
        margin: 1rem 0;
    
    }
    
    &:hover {

        & h4 {

            font-weight: 600;

        }

    }

    & a {

        text-decoration: none;

    }

}

.calendrier__main {

    & article {

        padding: 1rem 2rem;
        display: grid;
        grid-template-columns: 8rem 1fr;

        & *:not( p ) {
            
            font-size: 22px;
            
        }

        &:hover *:not( a ):not( p ) {

            font-weight: 600;
            
        }

    }

    & h4 {
        
        margin: 0;
        
    }

    & p {

        font-size: 18px;

    }

    & time {

        text-transform: uppercase;

    }
}

#aside {

    overflow: hidden;

    & figure {

        position: absolute;
        width: 100%;
        height: calc(100% - 60px);
        margin: 0;
        object-fit: cover;
        bottom: 0;
        overflow: hidden;
        transition: bottom .4s;

        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        &.hidden {
            bottom: 100vh;
        }

    }
}

.compagnie {

    &__main {

        & * {
            box-sizing: border-box;
        }

        & > * {

            margin: 0;

        }

        & .wp-block-group {

            & > * {
                margin-top: 0;
            }

            &:nth-child( 1 ) {
                
                top: 0;
                position: sticky;
                background-color: $grey;
                padding: 3rem 2rem;

                & h1 {

                    text-transform: uppercase;
                    width: var( --labeur-width );
                    font-size: var( --title-height );
                    line-height: var( --title-line-height );
                    font-weight: normal;

                }

            }

            &:not( :nth-child( 1 ) ) {

                & .wp-block-group__inner-container {

                    & > h2 {

                        text-transform: uppercase;
    
                        &, & + p {
    
                            font-size: var( --infos-height );
                            line-height: var( --infos-line-height );
    
                        }

                        & + .wp-block-columns {
                            
                            margin-top: 5rem;
                            display: grid;
                            grid-template-columns: 12rem 1fr;
                            grid-gap: 2rem;
                            font-size: var( --regular-height );
                            line-height: var( --regular-line-height );

                            & .wp-block-column {

                                margin: 0;

                            }

                            & h3 {

                                text-transform: uppercase;

                            }

                            & p {

                                margin-bottom: 1rem;

                            }

                            & *:not( :first-child ) {

                                & h3 {

                                    margin-bottom: 1rem;

                                }
                            }
                            
                        }
    
                    }
    
                    & p + div {
    
                        margin: 5rem 2rem;
                        font-size: var( --regular-height );
                        line-height: var( --regular-line-height );
    
                    }

                }

            }
            
        }

    }

}

.spectacles, .transmissions {

    &__main {
        
        & > .wp-block-group {

            & h1, & h2, & h3, & h4, & h5, & h6 {

                font-size: var( --infos-height );
                line-height: var( --infos-line-height );

                text-transform: uppercase;
                font-weight: bolder;

            }

            & p {

                padding: 3rem 2rem 0 3rem;
                text-indent: 4rem;
                font-size: 20px;
                line-height: 26px;

            }

        }

    }

}

.creation, .transmission {

    &__main {

        & * {
            box-sizing: border-box;
        }

        & > * {

            margin: 0;

            &:not( .main__heading ) {

                padding: 1rem 2rem 1.4rem 2rem;

            }
        }

        & h1 {

            width: var( --labeur-width );
            padding: 1rem 2rem 1.4rem;
            font-size: var( --title-height );
            line-height: var( --title-line-height );
            font-weight: normal;

        }

        & .wp-block-group {

            & > * {
                margin-top: 0;
            }

            &:nth-child( 2 ) {

                & ul {

                    & li {
                        font-size: var( --regular-height );
                        line-height: var( --regular-line-height );
                        font-weight: lighter;
                    }
                    
                    &:first-child {

                        & li {
                
                            text-transform: uppercase;
                            font-weight: bolder;
                
                        }

                        & li, & + p {

                            font-size: var( --infos-height );
                            line-height: var( --infos-line-height );

                        }

                        &, & + p {

                            margin: 0;

                        }
                    }

                    &:not( :first-child ) {
                        margin: 2rem 0;
                    }

                }

            }

            &:nth-child( 3 ) {

                & .wp-block-column {

                    font-size: var( --regular-height );
                    line-height: var( --regular-line-height );

                    & h1, & h2, & h3, & h4, & h5, & h6 {

                        font-size: var( --regular-height );
                        line-height: var( --regular-line-height );

                        text-transform: uppercase;
                        font-weight: bolder;

                        &, & + ul {

                            margin: 0;

                        }

                    }

                    & p {

                        margin: 0;

                    }

                }

            }

            & + .wp-block-columns {

                padding: 6.4rem 5rem;
                
                & .wp-block-column {

                    & p {
                        
                        margin: 0;
                        text-indent: 4rem;
                        font-size: 20px;
                        line-height: 26px;

                    }

                }

            }

            &:nth-child( 5 ) {

                padding: 2rem;

                & ul {

                    margin: 0;

                }

                & li {

                    font-weight: 600;
                    font-size: var(--regular-height);
                    line-height: var(--regular-line-height);

                }

            }
            
        }

    }

}

.home, .creation, .transmission {

    &__aside, &__videos {
    
        $splide_height: calc(100vh - 140px);
    
        &.hidden {
            top: -100vh;
        }
    
        & > div:not( .creation__videos ) {
            height: $splide_height;
            width: 100%;
            overflow: hidden;
        }
    
        & .splide {
            
            &__slide {
                
                padding-top: 0%;
                transition: all 0.15s;
                transition-timing-function: ease-in-out;
                
                & > div {
                    height: 0%;
                    overflow: hidden;
                    position: relative;
                    transition: all 0.15s;
                    transition-timing-function: ease-in-out;
                }

                & iframe {
                    width: 100%;
                }
                
                & img {
                    position: absolute;
                    object-fit: cover;
                    height: $splide_height;
                    width: 100%;
                }
                
                &.is-active {
                    & > div {
                        height: $splide_height;
                    }
                }
                    
                &.is-next, &.is-first:not( .is-prev ):not( .is-active ) {
                    padding-top: $splide_height;
                    
                    & > div {
                        height: 100%;
                    }
                }
            }
            
            &__arrow {
                background: none;
                width: 100%;
                height: 50%;
                border-radius: unset;
                cursor: none;
                
                &--next {
                    bottom: 0 !important;
                }
                
                &--prev {
                    top: 0 !important;
                }
                
                & svg {
                    display: none;
                }
            }
        }
    
    }
    
    &__videos {

        position: fixed;
        top: var(--height);
        height: calc(100vh - var(--height));
        transition: top .25s;
    
        width: calc(100vw - var( --width ));
        background-color: $main-color;
        right: 0;
        z-index: 1;
        padding-top: 60px;
        transition-timing-function: ease-in-out;
            
        & .splide__arrow {
            &--prev {
                height: 15%;
            }
            &--next {
                height: 50%;
            }
        }
    
    }

}

.contacts {

    & .contacts__main {

        & .wp-block-group {

            &:first-child {

                padding: 2rem;
                display: flex;
                flex-direction: column-reverse;

            }

            & h2 {

                font-size: var( --infos-height );
                line-height: var( --infos-line-height );

                & + p {

                    margin-bottom: 1rem;
                    font-size: var( --summary-height );

                }

            }

            & p {

                line-height: var( --summary-line-height );

                &:last-child {

                    margin-top: 5rem;

                }

            }

        }

        & .wp-block-gallery {

            margin-top: 1.4rem;

            & img {
                max-height: 5rem;
                max-width: 7rem;
                width: auto;
                height: auto;
                object-fit: contain;
            }

        }

        & .blocks-gallery-item {

            width: auto;
            height: auto;
            margin: 0 1.4rem 1rem 0;

            &, & figure {
                display: initial;
            }

        }

    }

}

.mentions {

    &__main {

        padding: 2rem;

    }
    & * {

        font-size: var( --summary-height );
        line-height: var( --summary-line-height );

    }
    & h1 {

        font-size: var( --infos-height );
        line-height: var( --infos-line-height );
        margin: 3rem 0 5rem 0;
        text-decoration: underline;

    }
    & p + h2 {
        margin-top: 2rem;
    }
}

.btn {

    font-weight: 600;
    background: none;
    border: none;
    cursor: pointer;

    &#videos__btn {

        &--open, &--close {
    
            position: absolute;

        }
    
        &--open {

            top: calc( 100vh - 150px );
    
        }
    
        &--close {
    
            height: calc( 60px - 2rem );
            padding: 0;
            top: 1rem;
            right: 1.4rem;

            & svg {

                height: 100%;

            }
    
        }
    
    }

}

#fleche {
    opacity: 0;
    width: 60px;
    z-index: 99999;
    position: fixed;
    bottom: 0;
    right: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
}